html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primary-text-color: #757575;
    --title-color: #212121;
    --title-second-color: #FFFFFF;
    --accent-color: #2196F3;
    --elemets-color: #000;
    --first-fon-color: #2F303A;
    --second-fon-color: #F5F4FA;
}

body {
    font-family: Roboto, sens-serif;
    color: var(--primary-text-color);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul 
{
    margin: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/*----------------------Heder----------------------*/

/*-----------Heder-logo---------*/
/*-----------ЗМІНИ---------*/
.caption {
    display:block;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: var(--title-second-color);
    border-bottom: 1px solid #ECECEC;
}

.main-nav {
    position: fixed;
    background-color: var(--title-second-color);
    display: flex;
    position: relative;
    padding: 0;
    margin: 0 auto;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-left: 0;
}

.caption-logo {

    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--elemets-color);
    text-decoration: none;
    cursor: pointer;
}

.logo {
    color: var(--accent-color);
}

.caption-logo.current,
.caption-logo:focus {
    color: var(--accent-color);
}

.logo {
    color: var(--accent-color);
}

.caption-logo.current,
.caption-logo:focus {
    color: var(--accent-color);
}

.menu-items {
    display: flex;
    align-items: center;
    margin-left: 93px;
}

.menu-item {
    position: relative;
    display: flex;
}

    .page-active::after{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    bottom: -1px;
    left: 0;
    opacity: 0;
}

    .page-active::after{
    opacity:1;
 }    


.menu-items .menu-item+.menu-item {
    margin-left: 50px;
}

.caption-items {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.caption-items .caption-el+.caption-el {
    margin-left: 30px;
}

.caption-adr {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
}


/*-----------Heder-navi---------*/
.caption-item {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;


    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
    cursor: pointer;
    text-decoration: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
    }    

.caption-item.current,
.caption-item:hover,
.caption-item:focus {
    color: var(--accent-color);
}

/*-----------Heder-contact---------*/

.caption-adr {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    display: flex;
    gap: 10px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
}

.caption-adr.current,
.caption-adr:hover,
.caption-adr:focus {
    color: var(--accent-color);

}

.col {
    fill: currentColor;
}

/*----------------------main----------------------*/

/*-----------Hero---------*/


.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 80px;

    background-color: #757575;
    padding: 200px 0;
    background: rgba(47, 48, 58, 0.4);
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/img _hero.jpg");

    outline: 2px solid darkred;
}

.hero-title {
    margin-bottom: 30px;

    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--title-second-color);
}

.hero-button {
    padding: 10px 32px;
    border-radius: 4px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border: none;

    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--title-second-color);
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow;
}

.hero-button.current,
.hero-button:hover,
.hero-button:focus {
    box-shadow: 10px, var(--first-fon-color);
}

/*-----------features---------*/

.features {
    display: flex;
}

.features .features-blok+.features-blok {
    margin-left: 30px;
}

.heading {
    display: none;
}

.features-blok {
    width: 270px;
}

.features-title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}

.features-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.features-icons {
    background-color: var(--second-fon-color);
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-----------services---------*/

.services {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-color);
}

.services-list {
    display: flex;
    padding-top: 50px;
}

.services-list .services-element+.services-element {
    margin-left: 30px;
}

.services-element{
    display: block;
    position: relative;
}

.services-text{
    display: flex;
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    background-color: rgba(47, 48, 58, 0.8);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
   justify-content: center;
    align-items:center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-second-color);
}

/*---------Our team--------------*/
.team {
    background-color: var(--second-fon-color);
}

.text-blok {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-color);
}

.lists {
    display: flex;
    margin-top: 50px;
}
.foto{
    display: block;
}

.lists .team-list+.team-list {
    margin-left: 30px;
}

.networks {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    padding: 0;
}

.social-teams {
    width: 44px;
    height: 44px;
}

.soc-team {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill, background-color;
}

.soc-team-icon {
    fill: #AFB1B8;
}

.soc-team:focus,
.soc-team:hover {
    background-color: #2196F3;
}

.soc-team:focus .soc-team-icon {
    fill: #FFFFFF;
}

.soc-team:hover .soc-team-icon {
    fill: #FFFFFF;
}

.team-list-title {

    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.team-text {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/*---------------------Client--------------*/
.client-title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-color);
}

.client-list {
    list-style: none;
    display: flex;
    margin-top: 50px;

    gap: 30px;
    padding: 0;
}


.client-logos {
    width: 170px;
    height: 92px;
    border-radius: 4%;
    border-color: #AFB1B8;
    border-style: solid;
    border-width: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;


    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color;
}

.client-logos .sing {
    fill: #AFB1B8;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
}
.sing {
    fill: currentColor;
}
.client-logos:focus-within,
.client-logos:hover {
    border-color: #2196F3;
    border-style: solid;
    border-width: 1px;
}

.client-logos:hover .sing {
    fill: #2196F3;
}
.client-logos:focus-within .sing{
    fill: #2196F3;
}

/*------------------footer---------------------*/

.contacts {
    background-color: var(--first-fon-color);
}

.foot-box {
    padding-top: 60px;
    padding-bottom: 60px;
}

/*---------logo--------------*/

.contacts-logo {
    display: inline-block;

    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-second-color);
    text-decoration: none;
    cursor: pointer;
}

.contacts-logo.current,
.contacts-logo:focus {
    color: var(--accent-color);
}

/*---------address--------------*/

.contacts-adr {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    
    text-decoration: none;
    cursor: pointer;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
}

.contacts-adr.current,
.contacts-adr:hover,
.contacts-adr:focus {
    color: var(--accent-color);
}

.contacts-citi {
    color: var(--title-second-color);
}

.botton-menu {
    margin-bottom: 9px;
}

.address {
    margin-top: 20px;
}

.footer-container {
    display: flex;
    padding: 0;
    align-items: baseline;
}

.block-footer {
    margin-left: 70px;
}

.fotter-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    
    text-transform: uppercase;
    color: var(--title-second-color);
}

.networks-footer {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    padding: 0;
}

.social-teams {
    width: 44px;
    height: 44px;
}

.foot-soc-team {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #434552;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
}

.foot-soc-icon {
    fill: #fff;
}

.foot-soc-team:hover,
.foot-soc-team:focus {
    background-color: #2196F3;
}

/*---------------------portfolio------------------*/

/*---------button--------------*/

.button-tab {
    display: flex;
    justify-content: center;
    padding: 0px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.button-tab .gallery-item+.gallery-item {
    margin-left: 8px;
}

.gallery-item {

    padding: 6 22px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow;
}

.gallery-item:hover,
.gallery-item:focus {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

.gallery-button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 4px;
    border-color: var(--second-fon-color);


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;

    background-color: var(--second-fon-color);
    color: var(--title-color);
    cursor: pointer;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, color;
}

.gallery-button.current,
.gallery-button:hover,
.gallery-button:focus {
    background-color: var(--accent-color);
    color: var(--title-second-color);
}

/*----------галерея робіт----------*/

.gallery-tab {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow;
}

.gallery-shad:hover,
.gallery-shad:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-images {
    display: block;
}

.gallery-text {
    border-bottom-color: #eeee;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 22px;
    padding-right: 22px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.gallery-link {
    text-decoration: none;
}
    
.gallery-link.current,
.gallery-link:hover,
.gallery-link:focus {
    background-color: var(--accent-color);
    color: var(--title-second-color);
}
/*-----------*/

.gallery-shad{
    display: block;
    position: relative;
    overflow: hidden;
}

.gallery-image{
    display: block;
    position: relative;
    overflow: hidden;
}

.gallery-overlay{
    display: flex;
    position: absolute;
    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 63px 24px;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--title-second-color);
}

.gallery-shad:hover .gallery-overlay{
    transform: translateY(0%);
}

.gallery-shad:focus-within .gallery-overlay {
    transform: translateY(0%);
}
 
.gallery-headline {
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--title-color);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, color;
}

.gallery-headline.current,
.gallery-headline:hover,
.gallery-headline:focus {
    background-color: var(--accent-color);
    color: var(--title-second-color);

}

.gallery-desk {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-top: 4px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, color;
}

.gallery-desk.current,
.gallery-desk:hover,
.gallery-desk:focus {
    background-color: var(--accent-color);
    color: var(--title-second-color);
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    min-width: 528px;
    min-height: 581px;
    background-color: var(--title-second-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-button{
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
    background-color: #FFFFFF;
    width: 30px;
    height: 30px;
}