html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primary-text-color: #757575;
    --title-color: #212121;
    --title-second-color: #FFFFFF;
    --accent-color: #2196F3;
    --elemets-color: #000;
    --first-fon-color: #2F303A;
    --second-fon-color: #F5F4FA;

}

body {
    
    font-family: Roboto, sens-serif;
    color: var(--primary-text-color);
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    
}
    

/*----------------------Heder----------------------*/

        /*-----------Heder-logo---------*/
        /*-----------ЗМІНИ---------*/
.caption{
    border-bottom: 1px solid #ECECEC;
}
    
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
    /*outline: 2px solid blue;*/

.main-nav{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 auto;

}
    .list {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

.header-nav{
    display: flex;
    align-items: center;
    margin-left: 0;
} 

        .caption-logo {
             
            font-family: Raleway;
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.19;
            letter-spacing: 0.03em;
            color: var(--elemets-color);
            text-decoration: none;
            cursor: pointer;
    
        }
    
        .logo {
            color: var(--accent-color);
        }
    
        .caption-logo.current,
        .caption-logo:focus {
            color: var(--accent-color);
        }

  .logo {
      color: var(--accent-color);
  }

  .caption-logo.current,
  .caption-logo:focus {
      color: var(--accent-color);
  }
    
  .menu-items{
    display: flex;
    align-items: center;
    margin-left: 93px;
}

       .menu-items .menu-item + .menu-item{
        margin-left: 50px;
}

.caption-items{
    display: flex;
    align-items: center;
    margin-left: auto;
}
        .caption-items .caption-el + .caption-el{
        margin-left: 30px;
}
        .caption-adr{
             display: flex;
             padding-top: 32px;
             padding-bottom: 32px;
}

      
         /*-----------Heder-navi---------*/
            .caption-item{
                display: flex;
                padding-top: 32px;
                padding-bottom: 32px;
            

                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 1.14;
                letter-spacing: 0.02em;
                color: var(--title-color);
                cursor: pointer;
                text-decoration: none;
            }

            .caption-item.current,
            .caption-item:hover,
            .caption-item:focus {
                    color: var(--accent-color);
            }

        /*-----------Heder-contact---------*/



        .caption-adr{
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14px;
            letter-spacing: 0.02em;
            color: var(--primary-text-color);   
            text-decoration: none;
            cursor: pointer;     
        }

        .caption-adr.current,
        .caption-adr:hover,
        .caption-adr:focus {
            color: var(--accent-color);
        }

/*----------------------main----------------------*/

       /*-----------Hero---------*/

 
    .section{
    padding-top: 94px;
    padding-bottom: 94px;
    }   

    .hero{
    padding: 200px 0;
    background-color: var(--first-fon-color);
    text-align: center;
}

.hero-title{
    margin-bottom: 30px;
   
    /*outline: 2px solid orange;*/

    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
       
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: var(--title-second-color);
 }

.hero-button{
    padding: 10px 32px;
    border-radius: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
     
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--title-second-color);
    cursor: pointer;
}

.hero-button.current,
.hero-button:hover,
.hero-button:focus {
    box-shadow: 10px, var(--first-fon-color);
}
  
        /*-----------features---------*/

.features{
    display: flex;
  
}

.features .features-blok + .features-blok {
    margin-left: 30px;
}

.heading {
    display: none;
}

.features-blok{
    width: 270px;

}
.features-title{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}
.features-text{
    
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

        /*-----------services---------*/

.services{
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-color);  
}

.services-list{
    display: flex;
   padding-top: 50px;
}

.services-list .services-element +.services-element{
    margin-left: 30px;
}
 /*---------Our team--------------*/
.team{
    background-color: var(--second-fon-color);
}

.text-blok{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
}

.team-title{
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-color);
    }

.lists{
    display: flex; 
    margin-top: 50px;
}

.lists .team-list + .team-list{
    margin-left: 30px;
}

.team-list-title{
   
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.team-text{
    margin-top: 10px;    
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/*------------------footer---------------------*/
       

.contacts{
    background-color: var(--first-fon-color);
}
.foot-box{
    padding-top: 60px;
    padding-bottom: 60px;
}
        /*---------logo--------------*/
.contacts-logo{
    display: inline-block;
    
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-second-color);
    text-decoration: none;
    cursor: pointer;
}

.contacts-logo.current,
.contacts-logo:focus {
    color: var(--accent-color);
}

        /*---------address--------------*/

.contacts-adr{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);;
    text-decoration: none;
    cursor: pointer;
}

.contacts-adr.current,
.contacts-adr:hover,
.contacts-adr:focus {
    color: var(--accent-color);
}

.contacts-citi{
    color: var(--title-second-color);
}

.botton-menu{
    margin-bottom: 9px;
}
.address{
margin-top: 20px;
}

/*---------------------portfolio------------------*/
            /*---------button--------------*/

.button-tab{
    display: flex;
    justify-content: center;
    padding: 0px;
   
   
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.button-tab .gallery-item + .gallery-item{
margin-left: 8px;
}

 
.gallery-item{
    padding: 6 22px;
}

.gallery-button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 4px;
    border-color: var(--second-fon-color);


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;

    background-color: var(--second-fon-color);
    color: var(--title-color);
    cursor: pointer;
}

.gallery-button.current,
.gallery-button:hover,
.gallery-button:focus {
    background-color: var(--accent-color);
    color: var(--title-second-color);
}

/*----------галерея робіт----------*/

.gallery-tab{
display: flex;
flex-wrap: wrap;
gap: 30px;
margin-top: 50px;
}

.gallery-images{
    display: block;
}

.gallery-text{
    border-bottom-color: #eeee;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 22px;
    padding-right: 22px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.gallery-link{
    text-decoration: none;
}

.gallery-link.current,
.gallery-link:hover,
.gallery-link:focus {
    background-color: var(--accent-color);
    color: var(--title-second-color);
}

.gallery-headline{
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.gallery-headline.current,
.gallery-headline:hover,
.gallery-headline:focus {
    background-color: var(--accent-color);
    color: var(--title-second-color);
}

.gallery-desk{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-top: 4px;
}

.gallery-desk.current,
.gallery-desk:hover,
.gallery-desk:focus {
    background-color: var(--accent-color);
    color: var(--title-second-color);
}

