.contacts {
    background-color: var(--first-fon-color);
}

.foot-box {
    padding-top: 60px;
    padding-bottom: 60px;
}

/*---------logo--------------*/


.footer-container {
    display: flex;
    padding: 0;
    align-items: baseline;
}

.foot-contacts__logo {
    display: inline-block;

    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-second-color);
    text-decoration: none;
    cursor: pointer;
}

.foot-contacts__logo.current,
.foot-contacts__logo:focus {
    color: var(--accent-color);
}

.foot-contacts__address {
    margin-top: 20px;
}

/*---------address--------------*/

.foot-hookup__menu {
    margin-bottom: 9px;
}

.foot-hookup__adr {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    
    text-decoration: none;
    cursor: pointer;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
}

.foot-hookup__adr.current,
.foot-hookup__adr:hover,
.foot-hookup__adr:focus {
    color: var(--accent-color);
}

.foot-hookup__citi {
    color: var(--title-second-color);
}


/*--Приєднуйтесь---*/

.block-footer {
    margin-left: 70px;
}

.block-footer__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    
    text-transform: uppercase;
    color: var(--title-second-color);
}

.footer-networks {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    padding: 0;
}

.footer-networks__soc {
    width: 44px;
    height: 44px;
}

.footer-networks__team {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #434552;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
}

.footer-networks__icon {
    fill: #fff;
}

.footer-networks__team:hover,
.footer-networks__:focus {
    background-color: #2196F3;
}

/*форма*/

.footbloc-form {
    display: block;
    margin-left: auto;
}

.footbloc-form__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-second-color);
}

.footer-form__email {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--first-fon-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
}

.footer-form {
    display: flex;
}

.footer-button {
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-button__sing {
   margin-left: 10px;
}
